{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forky Code</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <link rel="stylesheet" href="{% static 'css/challenges.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body onunload="" id="main-div-body">
<form action="{% url 'ForkyCodeApp:GetLeaderData' %}" id="get_leader_data" method="get" hidden></form>
<form action="{% url 'ForkyCodeApp:GetForumData' %}" id="get_forum_data" method="get" hidden></form>
<form action="{% url 'ForkyCodeApp:GetForumEntryData' %}" id="get_forum_entry_data" method="get" hidden></form>
<form action="{% url 'ForkyCodeApp:GetProfileData' %}" id="get_profile_data" method="get" hidden></form>
<form action="{% url 'ForkyCodeApp:Logout' %}" id="logout" hidden></form>

{% include 'Navbar/navbar.html' %}

<!-- HOMEEE -->
<div id="forky-main-content-space" class="main-space yellow lighten-5 main-space">
    {% autoescape off %}
        {{ challenges|safe }}

    {% endautoescape %}
</div>

<!-- CHALLENGES -->
<div id="challenges-list-content-space" class="main-space" style="background-color: #2b3d52;" hidden>
    {% include 'Challenges/challenges.html' %}
</div>

<!-- LEADERBOARDS -->
<div id="leaderbords-content-space" class="main-space red lighten-5 main-space" hidden>
    {% include 'Leaderbords/leaderboards.html' %}
</div>

<!-- FORUM -->
<div id="forum-content-space" class="main-space" style="background-color: #e9e8ff;" hidden>
    <br class="show-on-small">
    {% include 'Forum/forum.html' %}
</div>

<!-- FORUM ENTRY CONTENT -->
<div id="forum-entry-content-space" class="main-space" style="background-color: #e9e8ff; height: 200px; overflow-y: scroll" hidden>
    <br class="show-on-small">
    {% include 'Forum/entry.html' %}
</div>

<!-- FORUM ENTRY CREATION -->
<div id="forum-entry-creation-content-space" class="main-space" style="background-color: #e9e8ff;" hidden>
    <br class="show-on-small">
    {% include 'Forum/createEntry.html' %}
</div>

<div id="account-content-space" class="main-space" style="background-color: #e9e8ff;" hidden>
    <br class="show-on-small">
    {% include 'Profile/profile.html' %}
</div>

</body>
</html>