<div class="container">
    <div class="row">
        <div class="col card s12 m4 white" id="profile_info">


        </div>
        <div class="col s12 m7 offset-m1" id="profile_extra">

        </div>
    </div>
</div>