<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <style>
        @import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #2196F3 !important;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #2196F3 !important;
            box-shadow: none;
        }

        body{
            background: lightblue;
            background-size: 100% auto;
            font-family: 'Montserrat', sans-serif !important;
        }

        nav {
            background-color: #2196F3 !important;
        }
        @media (min-width: 993px) {
            .brand-logo {
                padding-left: 2% !important;
            }
        }

        a.brand-logo {
            font-family: 'Mansalva', cursive;
        }

    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">ForkyCode</a>
        </div>
    </nav>
    <main>
        <div class="section"></div>
        <div class="row hide-on-large-only">
            <div class="col s10 offset-s1 center">
                <h4>Yay! You're back!</h4>
                <p>Login into your account and complete challenges and assessments in a real-world coding environment.</p>
            </div>
        </div>
        <br style="display: none" class="show-on-large">
        <div class="row">
            <div class="col s5 l5 xl5 offset-s1 offset-l1 offset-xl1 hide-on-med-and-down">
                <h4>Yay! You're back!</h4>
                <p>Login into your account and complete challenges and assessments in a real-world coding environment.</p>
                <br>
                <img src="{% static 'media/login.png' %}" alt="" width="100%">
            </div>
            <div class="col s10 m6 l4 offset-s1 offset-m3 offset-l1 xl4 offset-xl1 z-depth-1 grey lighten-4 center" style="max-width:450px;display: inline-block; padding: 32px 48px 0px 48px; box-shadow: 0px 0px 10px 1px #cccccc;">
                <form class="col s12" method="post">
                        {% csrf_token %}
                        <div class='row'>
                            {% if error %}
                                <script>
                                    M.toast({html: '{{ error }}', classes: 'red lighten-1'})
                                </script>
                            {% endif %}
                            <div class='input-field col s12'>
                                <input class='validate' type='email' name='email' id='email' required="" aria-required="true"/>
                                <label for='email'>Email</label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password' required="" aria-required="true"/>
                                <label for='password'>Password</label>
                            </div>
                            <label style='float: right;'>
                                <a class='blue-text' href='#!'><b>Forgot Password?</b></a>
                            </label>
                        </div>
                        <br />
                        <div class="center">
                            <div class='row'>
                                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue'>Login</button>
                            </div>
                        </div>
                        <div class='row center'>
                            <label>
                                No account? <a href="/signup">Sign up here!</a>
                            </label>
                        </div>
                    </form>
            </div>
        </div>
    </main>
</body>

</html>