{% load staticfiles %}
<form action="{% url 'ForkyCodeApp:LoadChallenges' %}" method="get" id="load_challenges"></form>
<div class="container">
    <div class="row">
        <div class="col s12 s12">
            <ul class="collapsible" id="challenges_collection">

            </ul>
        </div>
    </div>
</div>
