.points-color {
    color: rgba(104, 109, 224,1.0);
}

.task-circle{
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 8px;
    margin: 0;
}

.complete{
    color: #fff;
    background-image: linear-gradient(to bottom right,#44bfa3 0,#44bf7e);
}

.flex{
    display: flex;
}

.space-task{
    margin: 2%;
}

.task{
    border-radius: 2rem;
    background-color: white;
    padding: .8rem;
}

.challenge_name{
    color: black;
}

