body {
    background-color: #263646;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#overlay{
    background-color: azure;
    position:fixed;
    width:100%;
    height:100%;
    top:40px;
    left:0px;
    z-index:1000;
    font-size: 30px;
    display: none;
}

.overlay-container {
    padding-top: 20%;
    text-align: center;
}

.CodeMirror {
    font-size: 16px;
}

.container-custom {
    display: flex;
    overflow:auto;
}

.container-editor {
    flex-direction: column;
}

#editor-content {
    height: 90vh;
    overflow: auto;
    margin: 0;
    outline: 1px solid #33485F;
}

#success-message, #fail-message {
    display: none;
}

#desc-content {
    height: 90vh;
    overflow: auto;
    margin-left: 30px;
    padding-right: 0;
}

.tests {
    outline: 1px solid #33485F;
    margin: 0;
    background-color: #1A232D;
    overflow: auto;
    height: 82vh;
    color: #FFF;
    /*overflow: hidden;*/
}

#console-content {
    padding: 1%;
}

#header {
    height: 45px;
    min-height: 45px;
    top: 0;
    width: 100%;
    background-color: #33485F;
    color: #FFF;
    margin: 0 0 0.5%;
}

#header a {
    text-decoration: none;
    color: #FFF;
}

.footer {
    margin: 0;
    text-align: right;
    height: 45px;
    min-height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #212B37;
}

.grouper {
    padding: 8px .75%;
}

/* ------------- Buttons -------------------- */

button .submit-button {
    margin: 10px 5px;
    padding-left: 2%;
}

button .sample-button {
    margin: 10px 5px;
}

.submit-button {
    background-color: #71b55e;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
}

.submit-button:hover {
    background-color: #FFF;
    color: #71b55e;
    outline: 1px solid #71b55e;
}

.sample-button {
    background-color: #4f7cb1;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
}

.sample-button:hover {
    background-color: #FFF;
    color: #4f7cb1;
    outline: 1px solid #4f7cb1;
}

/* ------------- Framework -------------------- */
.col {
    padding-right: 0;
    margin-left: .5%;
}
.s4 {
    width: 33.3333333333%;
}
.s8 {
    width: 66.6666666666%;
}
._left {
    text-align: left;
}
._center {
    text-align: center;
}
._right {
    text-align: right;
}

.f-center { flex: 1; text-align: center; }
.f-right {
    margin-left: auto;
    margin-right: 1%;
}

.color-red {
    color: red;
}

.error {
    color: #ef6155;
}

.color-green {
    color: green;
}
/* ------------- Nav Bar -------------------- */
ul.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33485F;
    height: 45px;
}

li.navbar{
    line-height: 45px;
}

li.navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    padding-left: 20%;
}

/* ------------- Tabs in info panel -------------------- */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #33485F;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 99%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 12px;
    margin: 1px;
    overflow: hidden;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  border: 1px solid #538EFF;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
  overflow: hidden;
}

/* ------------- Modal -------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #c4dfff;
    margin: auto;
    padding: 20px;
    width: 25%;
    color: #19232f;
    border-radius: 3px;
    font-size: 1.2em;
}

/* The Close Button */
.close {
  color: #19232f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.func-name{
    position: absolute;
    color: #fff;
    display: inline-block;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
}