.card-head{
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    height: 40px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    color: #fff;
    border-color: transparent;
    border-radius: 3px 3px 0 0;
    background-color: #26bcb5;
}

th.tableTitle{
    border-bottom: 7px solid #ddd;
    border-width: 0;
    background: #c7cbd6;
    font-size: inherit;
    color: #fff;
    border: 0;
    padding: 4px 10px;
}

a.topictitle{
    font-size: 0.95em;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #eb6f57;
}

p.topictitle{
    margin-bottom: 0;
}

a.username-coloured{
    font-weight: 700;
    font-size: 0.95rem;
}

td.stats-col{
    font-size: 13px;
    background-color: #e4e9eb!important;
    letter-spacing: .4px;
}

td.small-padding{
    padding-left: 15px;
}

div.small-padding-comment{
    padding-left: 15px;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-right: 15px;
}



div.forum{
    font-family: 'Montserrat', sans-serif;
}

span.icon-wrapper{
    float: left;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #e4e9eb;
}

.post{
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}
.postinfobot{
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 0 30px 0 94px;
}

i.semi-large{
    font-size: 3rem;
}

.pagination li.activo {
    background-color: #26bcb5;
}

div#pagination{
    padding: 1px;
}

.panel-head{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.textwraper {
    background-color: #f1f1f1;
    border-radius: 2px;
    padding: 18px;
}

.postreply {
    font-size: 12px;
    color: #bdc3c7;
    display: block;
}

.textwraper textarea {
    border: none;
    box-shadow: none;
    background-color: #f1f1f1;
    width: 100%;
}

.post .posttext {
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;
}

#reply:focus{
    outline: none;
}

.postinfobot {
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 10px;
}
