@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

img.limit-card-heigth {
    max-height: 250px;
}

span.name-of-algorithm {
    font-family: 'Roboto Mono', monospace;
}

span.forks-reward {
    font-family: 'Roboto Mono', monospace;
    color: #f0932b;
    font-size: 30px;
}