@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

span.fav_lang {
    font-family: 'Roboto Mono', monospace;
    color: #34ace0;
}
a.mail-icon {
    color: #ffda79;
}

span.fav_lang span.forks-points {
    font-family: 'Roboto Mono', monospace;
    color: #f0932b;
    font-size: 1rem;
}

li.leaderboard_header {
    font-family: 'Roboto Mono', monospace;
}