@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
div.navbar-fixed {
    max-height: 65px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a.brand-logo-side{
    font-family: 'Mansalva', cursive;
    font-size: 2rem !important;
    padding: 5px 16px!important;
    color: white !important;
}

@media only screen and (max-width: 992px){
    .sidenav .user-view {
        padding: 5px 16px 0 !important;
    }
}

a.brand-logo-s {
    font-family: 'Mansalva', cursive;
}
a.brand-logo-m {
    font-family: 'Mansalva', cursive;
    margin-left: 2%;
    margin-right: 2%;
    position: inherit!important;
}
.dropdown-content li>a {
    color: #2196F3 !important;
}

div.nav-wrapper {
    color: #cfd8dc;
    font-family: 'Montserrat', sans-serif;
}

div.main-space {
    height: 0; /* Adjust with js to screen size - 65px from navbar  */
}

i#user-logout {
    color: red;
}