.profile-circle{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    padding-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.initials{
    font-size: 64px;
    padding-top: 28px;
}

.profile-color{
    color: #fff;
    background-image: linear-gradient(to bottom right,#44bfa3 0,#44bf7e);
}

.profile-section-title{
    border-bottom: 1px solid #e8ebee;
}

.profile-section-content{
    padding: 24px;
    border-radius: 0 0 2px 2px;
}