{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Challenge</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/md-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- CodeMirror css and js -->
    <script src="{% static 'codemirror/libr/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirror/libr/codemirror.css'%}">
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirror/theme/paraiso-dark.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/challenge.js' %}"></script>

</head>
<body onload="checkIfMobileUser()">
    <div id="overlay">
        <div class="overlay-container">
            <p>Sorry, this feature isn't available in your device</p>
            <a href="/home">Return to Home</a>
            <br><br>
            <img src="{% static 'media/yoda-pixel.png' %}" style="margin: 0 auto; width: 100%;">
        </div>
    </div>
    <form action="{% url 'ForkyCodeApp:Logout' %}" id="logout" hidden></form>
    {% include 'Navbar/editor-navbar.html' %}
    <div class="container-custom">
        <div id="desc-content" class="col s4">
            <!-- Tab links -->
            <div class="tab">
                <button id="desc-btn" class="tablinks" onclick="openTab(event, 'desc')">Description</button>
                <button id="tests-btn" class="tablinks" onclick="openTab(event, 'tests')">Tests</button>
                <button id="console-btn" class="tablinks" onclick="openTab(event, 'console')">Console</button>
            </div>
            <!-- Tab content -->
            <!-- Description content -->
            <div id="desc" class="md-body tabcontent">
                {{ description }}
            </div>
            <!-- Tests content -->
            <div id="tests" class="tests tabcontent">
                <p>Score: <span id="score-tests" class="color-green"></span> </p><br>
                {% for key, value in test_cases.items %}
                    <button class="accordion">Test {{ key }} </button>
                    <div class="panel">
                        <p><span style="color: #538EFF">Input: </span> <span> {{ value.input }} </span> </p>
                        <p><span style="color: #538EFF">Expected: </span> <span> {{ value.expected }} </span> </p>
                        <p><span style="color: #538EFF">Result: </span> <span id="result-{{ key }}" style="color: yellow"></span> </p>
                    </div>
                {% endfor %}
            </div>
            <!-- Console content -->
            <div id="console" class="tests tabcontent error">
                <p id="results">Result: </p>
            </div>
        </div>
        <div class="container-editor col s8">
            <div id="editor-content" class="">
                <textarea id="editor">{{ func_def }}</textarea>
                <script>
                    let editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
                        lineNumbers: true,
                        mode: "python",
                        theme: "paraiso-dark"
                    });
                    editor.setSize("100%", "93%")
                </script>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="grouper">
            <button onclick="runTests()" class="sample-button">RUN SAMPLE CODE</button>
            <button id="submit-results-btn" onclick="sendResults()" class="submit-button">SUBMIT CODE</button>
        </div>
    </div>

    <!-- The Modal -->
    <div id="results-modal" class="modal">
      <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Score: <span id="score" class="color-green"></span> </p><br>
            <p id="fail-message" class="color-red">Almost! Keep trying!</p>
            <div id="success-message">
                <p class="color-green">Great job! Go on to the next one!</p>
                <a class="submit-button" href="/challenge?id={{ challenge_id|add:1 }}">Next</a>
            </div>
        </div>
    </div>
</body>

<script>
    function makePost(isReal) {
        $.ajax({
            url: '/challenge',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                input_code: editor.getValue(),
                challenge_id: {{ challenge_id }},
                is_real: isReal
            },
            dataType: 'json',
            success: function(response) {
                if (response.error != null) {
                    $("#results").text(response.error);
                    document.getElementById("console-btn").click();
                    return;
                }
                if (response.is_real) {
                    $("#score").text(response.score.text);
                    switchTextsInModal(response.score.has_passed);
                    document.getElementById("results-modal").style.display = "block";
                } else {
                    $("#score-tests").text(response.score.text);
                    document.getElementById("tests-btn").click();
                    for (let i = 0; i < response.test_results.length; i++) {
                        $("#result-" + parseInt(i+1)).text(response.test_results[i]);
                    }
                }

            },
            error: function (request, status, error) {
                console.log('ERROR-AJAX: ' + request.responseText)
                $("#results").text("Sorry, try again later :(");
            }
        });

    }

    document.getElementById("desc-btn").click();
    accordion();
    modalPopup();


</script>

</html>