<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <style>
        @import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #2196F3 !important;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #2196F3 !important;
            box-shadow: none;
        }

        body{
            background: lightblue;
            background-size: 100% auto;
            font-family: 'Montserrat', sans-serif !important;
        }

        nav {
            background-color: #2196F3 !important;
        }
        @media (min-width: 993px) {
            .brand-logo {
                padding-left: 2% !important;
            }
        }

        a.brand-logo {
            font-family: 'Mansalva', cursive;
        }

    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">ForkyCode</a>
        </div>
    </nav>
    <main>
        <div>
            <div class="section hide-on-small-only"></div>
            <div class="row hide-on-large-only">
                <div class="col s10 offset-s1 center">
                    <h4>Practice Your Coding Skills</h4>
                    <p>Don't leave your job application up to chance, improve your skills and start getting noticed!</p>
                </div>
            </div>
            <div class="row" style="margin-top: 3%">
                <div class="col s5 l5 xl5 offset-s1 offset-l1 offset-xl1 hide-on-med-and-down">
                    <h4>Practice Your Coding Skills</h4>
                    <p>Don't leave your job application up to chance, improve your skills and start getting noticed!</p>
                    <img src="{% static 'media/b11.png' %}" alt="" width="100%">
                </div>
                <div class="col s10 m6 l4 xl4 offset-s1 offset-m3 offset-l1 offset-xl1 z-depth-1 grey lighten-4" style="display: inline-block; padding: 32px 48px 0px 48px; box-shadow: 0px 0px 10px 1px #cccccc;">
                    <form class="col s12" method="post" action="/signup">
                        {% csrf_token %}
                        <div class="row">
                            {% if error %}
                                <div class="col s12 center">
                                    <p style="color: red">{{ error }}</p>
                                </div>
                            {% endif %}
                            <div class="input-field col s12">
                                <input class='validate' type='text' name='firstname' id='firstname' required="" aria-required="true"/>
                                <label for='firstname'>First name</label>
                            </div>
                            <div class="input-field col s12">
                                <input class='validate' type='text' name='lastname' id='lastname' required="" aria-required="true"/>
                                <label for='lastname'>Last name</label>
                            </div>
                            <div class='input-field col s12'>
                                <input name="email" id="email" type="email" class="validate" required="" aria-required="true"/>
                                <label for='email'>Email</label>
                            </div>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password' required="" aria-required="true"/>
                                <label for='password'>Password</label>
                            </div>
                        </div>
                        <div class="center">
                            <div class='row'>
                                <button type='submit' class='col s12 btn btn-large waves-effect blue'>Sign up</button>
                            </div>
                            <div class="row">
                                <label>Already have an account? <a href="/login">Login Here!</a></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>