<!-- Dropdown DESKTOP -->
<ul id="dropdown" class="dropdown-content white">
    <li><a href="#!" onclick="submitLogout()">Sign Out</a></li>
</ul>

<!-- Main NAV -->
<div id="main-nav" class="navbar-fixed" style="height: 50px;">
    <nav style="height: 40px; line-height: 40px!important;">
        <div class="nav-wrapper blue lighten-1">
            <a href="/" class="left">
                <i class="material-icons left" style="height: 40px;line-height: 40px;margin-left: 10px;">
                    arrow_back
                </i>
                Back
            </a>
            <a href="#" class="func-name">{{ func_name }}</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown">
                        <i class="material-icons right" style="height: 40px;line-height: 40px;margin-left: 10px;">arrow_drop_down</i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>