<!-- Dropdown DESKTOP -->
<ul id="dropdown" class="dropdown-content white">
    <li onclick="changeActiveDiv('account-content');"><a href="#!">Profile</a></li>
    <li class="divider"></li>
    <li><a href="#!" onclick="submitLogout()">Sign Out</a></li>
</ul>

<!-- Side menu MOBILE -->
<ul id="slide-out" class="sidenav">

    <li>
        <a href="/" class="brand-logo blue brand-logo-side">ForkyCode</a>
        <div class="user-view">
            <div class="background blue"></div>
            <hr class="white">
            <a href="#!"><span class="white-text name">{{ user.name }} {{ user.lastname }}</span></a>
            <a href="#!"><span class="white-text email">{{ user.email }}</span></a>
        </div>
    </li>
    <li id="account-content" onclick="changeActiveDiv(this.id);"><a href="#" class="sidenav-close"><i class="material-icons">account_circle</i>My Profile</a></li>
    <li id="challenges-list-content" onclick="changeActiveDiv(this.id, this);"><a href="#" class="sidenav-close"><i class="material-icons left">list</i>Challenges</a></li>
    <li id="leaderbords-content" onclick="changeActiveDiv(this.id);"><a href="#" class="sidenav-close"><i class="material-icons">star</i>Leaderbords</a></li>
    <li id="forum-content-mobile" onclick="changeActiveDiv(this.id, this);" data-value="1"><a class="sidenav-close" href="#"><i class="material-icons">chat_bubble</i>Forum</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!" class="sidenav-close" onclick="submitLogout()"><i class="material-icons">power_settings_new</i> Sign Out</a></li>
</ul>

<!-- Main NAV -->
<div id="main-nav" class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#" class="sidenav-trigger left" data-target="slide-out">
                <i class="material-icons">menu</i>
            </a>
            <a href="/" class="left brand-logo brand-logo-m hide-on-small-only">ForkyCode</a>
            <a href="/" class="brand-logo brand-logo-s center hide-on-med-and-up">ForkyCode</a>
            <ul class="left hide-on-med-and-down">
                <li id="account-content" onclick="changeActiveDiv(this.id);"><a href="#"><i class="material-icons left">account_circle</i>My Profile</a></li>
                <li id="challenges-list-content" onclick="changeActiveDiv(this.id, this);"><a href="#"><i class="material-icons left">list</i>Challenges</a></li>
                <li id="leaderbords-content" onclick="changeActiveDiv(this.id);"><a href="#"><i class="material-icons left">star</i>Leaderbords</a></li>
                <li id="forum-content" onclick="changeActiveDiv(this.id, this);" data-value="1"><a href="#"><i class="material-icons left">chat_bubble</i>Forum</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown">
                        <i class="material-icons right">arrow_drop_down</i>
                        Setttings
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>