{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>ForkyCode</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/landing.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/landing.js' %}"></script>
</head>

<body>

    <ul id="slide-out" class="sidenav">
        <li>
            <a href="/" class="brand-logo blue brand-logo-side">ForkyCode</a>
            <div class="user-view">
                <div class="background blue"></div>
            </div>
        </li>
        <li><a class="dropdown-trigger" href="{% url 'ForkyCodeApp:Signup' %}" data-target="dropdown">
            <i class="material-icons">edit</i> Sign Up</a></li>
        <li><a class="dropdown-trigger" href="{% url 'ForkyCodeApp:Login' %}" data-target="dropdown">
            <i class="material-icons">fingerprint</i> Login</a></li>
    </ul>

  <!-- Navigation -->
  <div id="main-nav" class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue lighten-1">
                <a href="#" class="sidenav-trigger left" data-target="slide-out">
                    <i class="material-icons">menu</i>
                </a>
                <a href="/" class="left brand-logo brand-logo-m hide-on-small-only">ForkyCode</a>
                <a href="/" class="brand-logo brand-logo-s center hide-on-med-and-up">ForkyCode</a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="dropdown-trigger" href="{% url 'ForkyCodeApp:Signup' %}" data-target="dropdown">
                            <i class="material-icons right">edit</i>
                            Sign Up
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="{% url 'ForkyCodeApp:Login' %}" data-target="dropdown">
                            <i class="material-icons right">fingerprint</i>
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

  <div class="container">
        <div class="row vertical-content center">
            <div class="col s12 offset-m2 m8 white-text">
                <h1 class="home-heading">Real-World Coding Environment</h1>
                <p class="home-subtitle mx-auto mt-3">Get your coding skills on edge, practice for technical interviews and build your developer resume. </p>
                <div class="home-button mt-4">
                    <a href="{% url 'ForkyCodeApp:Signup' %}" class="btn-large mt-3">Free Signup</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
