<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <div>
                <a href="#!" role="button" class="btn"
                   data-loading-text="Loading..." data-original-title="" title=""
                    onclick="changeActiveDiv('forum-content')">
                    <i class="material-icons left">navigate_before</i>Back</a>
            </div>
            <br>
            <div class="card-head">
                Describe your topic
            </div>
            <form method="post" action="/createEntry" id="create-entry-form">
                {% csrf_token %}
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">textsms</i>
                                    <input type="text" id="title-input" name="title" class="autocomplete" aria-required="true" required>
                                    <label for="title-input">Title</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">assignment</i>
                                    <textarea id="desc-input" name="desc" class="materialize-textarea" aria-required="true" required></textarea>
                                    <label for="desc-input">Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button type='submit' name='btn_crete_entry'
                            class='btn waves-effect'>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>