<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div>
                <a href="#!" role="button" class="btn"
                   data-loading-text="Loading..." data-original-title="" title=""
                    onclick="changeActiveDiv('forum-content')">
                    <i class="material-icons left">navigate_before</i>Back</a>
            </div>
            <br>
            <div class="card-head">
                Topic
            </div>
            <div id="entry_info" class="white">

            </div>
            <br>
            <p>Comments</p><hr>
            <div id="comments_list" class="white">

            </div>
            <hr>

            <div class="post">
                <form action="{% url 'ForkyCodeApp:CreateComment' %}" id="comment_form" class="form" method="post">
                    {% csrf_token %}
                    <div class="topwrap">
                        <div class="posttext left">
                            <div class="textwraper">
                                <div class="postreply">Post a Comment</div>
                                <textarea name="reply" id="reply" placeholder="Type your comment here"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfobot">
                        <div class="right postreply">
                            <div class="pull-left"><button type="submit" class="btn btn-primary">Post</button></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>