<div class="container forum">
    <div>
        <div>
            <a href="#!" role="button" class="btn btn-default btn-load"
               data-loading-text="Loading..." data-original-title="" title=""
                onclick="changeActiveDiv('forum-entry-creation-content')">
                <i class="material-icons left">add</i>New Topic</a>
        </div>
        <br>
        <div class="card-head">
            Topics
        </div>
        <div class="card-content white">
            <table class="highlight">
                <thead>
                    <tr>
			        <th class="tableTitle" style="display: table-cell;">Title</th>
                    <th class="tableTitle hide-on-small-only" >Statistics</th>
                    <th class="tableTitle hide-on-small-only" >Last post</th>
                </tr>
                </thead>
                <tbody id="list_forum">

                </tbody>
            </table>
        </div>
        <div id="pagination"></div>
    </div>
</div>